<% layout('layouts/boilerplate') -%>
<h1>
  Edit Posts Page
</h1>


<form action="/posts/<%= foundPost._id %>?_method=PUT" method="POST" enctype='multipart/form-data' id='editForm'>
  <input type="text" name="title" value='<%= foundPost.title %>' >
    <input type="text" name="price" value='<%= foundPost.price %>'>
    <textarea id="" col="30" name="description" rows="10"><%= foundPost.description %></textarea>

	<input type='file' name='image' multiple id='imageUpload'>
    <input type="text" name="location" value='<%= foundPost.location %>'>
	<h4>Current Photos</h4>
	<ul>
		<% foundPost.image.forEach((val,index) => { %>
			<li><img alt='myImages' src='<%= val.url %>' width="200px">
			<label for='image<%= index %>'>
				Delete? 
				<input type='checkbox' name='pictures[]' id='image<%= index %>' value='<%= val.public_id %>'  class='imageDeleteCheckbox'>
			</label>
			</li>
		
			
		<% }) %>
	</ul>
    <input type="submit">
</form>

<script>let numOfExistImages = <%= foundPost.image.length %></script>
<script src='/javascripts/edit-post.js'></script>
