<% layout('/layouts/post-show-layout')-%>
	
<h1>
	Show Page
</h1>

<h2><%= post.title %></h2>  
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
			
<div><a href="/posts/<%= post.id %>/edit">Edit Post</a></div>
	

<div>
	<h2>Images</h2>
	<% post.image.forEach(val => { %>
		<img src='<%= val.url %>' width='200px'>
	<% }) %>
</div>



<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<button>DELETE</button>
	</form>
</div>

<div id='map' style='height: 500px; width: 700px' ></div>

