
	
	<title>Show Page</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
	
	<style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 550;
        bottom: 0;
        width: 100%;
      }
		
		.marker {
		  background-image: url('/images/marker.png');
		  background-size: cover;
		  width: 50px;
		  height: 50px;
		  border-radius: 50%;
		  cursor: pointer;
		}
		
		.mapboxgl-popup {
		  max-width: 200px;
		}

		.mapboxgl-popup-content {
		  text-align: center;
		  font-family: 'Open Sans', sans-serif;
		}
		
    </style>


	

<h1>
	Show Page
</h1>

<h2><%= post.title %></h2>  
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
	
<div><a href="/posts/<%= post.id %>/edit">Edit Post</a></div>
	

<div>
	<h2>Images</h2>
	<% post.image.forEach(val => { %>
		<img src='<%= val.url %>' width='200px'>
	<% }) %>
</div>



<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<button>DELETE</button>
	</form>
</div>

<div id='map' style='height: 500px; width: 700px' ></div>

<script>
	
	var post = <%- JSON.stringify(post) %>
  mapboxgl.accessToken = 'pk.eyJ1IjoibW9kaWJib211aGFtbWVkIiwiYSI6ImNrN2o4bW1rajA5cnEzZXJ3Z2tjcHh0eG4ifQ.HhXWW8u_prQskpDfMM_43g';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11', 
	center: post.coordinates, 
	zoom: 4
  });
	
	
// 	var geojson = {
//   type: 'FeatureCollection',
//   features: [{
//     type: 'Feature',
//     geometry: {
//       type: 'Point',
//       coordinates: ,
//     },
//     properties: {
//       title: ,
//       description: 
//     }
//   }]
// };
	
	

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(post.coordinates)
	.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
    .addTo(map);
		
</script>

