<% layout('/layouts/post-show-layout')-%>
	
<h1>
	Show Page
</h1>

<h2><%= post.title %></h2>  
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>

			
<div><a href="/posts/<%= post.id %>/edit">Edit Post</a></div>
	

<div>
	<h2>Images</h2>
	<% post.image.forEach(val => { %>
		<img src='<%= val.url %>' width='200px'>
	<% }) %>
</div>



<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<button>DELETE</button>
	</form>
</div>

<h2>Reviews</h2>
<h3>
	Create a review!!
</h3>

<form action='/posts/<%= post._id %>/reviews' method='POST'>
	<textarea name='body' placeholder='What do you think??' required></textarea>
	<label>
		Rating: <input type='number' name='ratings' min='1' max='5' step='1' required>
	</label>
	
	<button>
		Submit
	</button>	
</form>

<% if(post.reviews.length){ %>
		<ul>
			<% post.reviews.forEach((val) =>{ %>
				<li><p>Comment: <%= val.body %></p><p>Ratings: <%= val.ratings %></p><p>
					<p>by <%= val.author.username %></p></li>
			
				<div>
					<% if(currentUser.username === val.author.username ){ %>
					<button class='toggle-edit-form'>Edit</button>
					
					<form action='/posts/<%= post.id %>/reviews/<%= val.id %>?_method=PUT' method='POST' class='edit-form'>
						<textarea name='body'><%= val.body %></textarea>
						<label>Rating<input type='number' name='ratings' step='1' min='1' max='5' value='<%= val.ratings %>'></label>
						<input type='submit' value='update'>
					</form>
					
					<form action='/posts/<%= post.id %>/reviews/<%= val.id %>?_method=DELETE' method='POST'>
						<input type='submit' value='Delete'>
					</form>
					
					<% } %>

				</div>
			
			<hr>
			<% })%>
		</ul>

 <% } %>


<div id='map'></div>

