<% layout('/layouts/post-show-layout')-%>
	
<h1>
	Show Page
</h1>

<h2><%= post.title %></h2>  
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>

			
<div><a href="/posts/<%= post.id %>/edit">Edit Post</a></div>
	

<div>
	<h2>Images</h2>
	<% post.image.forEach(val => { %>
		<img src='<%= val.url %>' width='200px'>
	<% }) %>
</div>



<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<button>DELETE</button>
	</form>
</div>

<h2>Reviews</h2>
<h3>
	Create a review!!
</h3>

<form action='/posts/<%= post._id %>/reviews' method='POST'>
	<textarea name='body' placeholder='What do you think??' required></textarea>
	
						<fieldset class="starability-basic">
						  <legend>Rating:</legend>
				<input type="radio" id="rate0" class="input-no-rate" name="ratings" value="0" checked aria-label="No rating." />
						  <input type="radio" id="rate1" name="ratings" value="1" />
						  <label for="rate1" title="Terrible">1 star</label>
						  <input type="radio" id="rate2" name="ratings" value="2" />
						  <label for="rate2" title="Not good">2 stars</label>
						  <input type="radio" id="rate3" name="ratings" value="3" />
						  <label for="rate3" title="Average">3 stars</label>
						  <input type="radio" id="rate4" name="ratings" value="4" />
						  <label for="rate4" title="Very good">4 stars</label>
						  <input type="radio" id="rate5" name="ratings" value="5" />
						  <label for="rate5" title="Amazing">5 stars</label>
						</fieldset>
				
	
	<button>
		Submit
	</button>	
</form>

<% if(post.reviews.length){ %>
		<ul>
			<% post.reviews.forEach((val) =>{ %>
				<li><p>Comment: <%= val.body %></p><p>Ratings: <%= val.ratings %></p><p>
					<p>by <%= val.author.username %></p></li>
			
				<div>
					<% if(currentUser.username === val.author.username ){ %>
					<button class='toggle-edit-form'>Edit</button>
					
					<form action='/posts/<%= post.id %>/reviews/<%= val.id %>?_method=PUT' method='POST' class='edit-form'>
						<textarea name='body'><%= val.body %></textarea>
						<fieldset class="starability-basic">
						  <legend>Rating:</legend>
				<input type="radio" id="edit-rate0" class="input-no-rate" name="ratings" value="0" checked aria-label="No rating." />
						  <input type="radio" id="edit-rate1" name="ratings" value="1" />
						  <label for="edit-rate1" title="Terrible">1 star</label>
						  <input type="radio" id="edit-rate2" name="ratings" value="2" />
						  <label for="edit-rate2" title="Not good">2 stars</label>
						  <input type="radio" id="edit-rate3" name="ratings" value="3" />
						  <label for="edit-rate3" title="Average">3 stars</label>
						  <input type="radio" id="edit-rate4" name="ratings" value="4" />
						  <label for="edit-rate4" title="Very good">4 stars</label>
						  <input type="radio" id="edit-rate5" name="ratings" value="5" />
						  <label for="edit-rate5" title="Amazing">5 stars</label>
						</fieldset>
				
						<input type='submit' value='update'>
						
						
					</form>
					
					<script> $("#edit-rate" + <%= val.rating %>).prop('checked', true) 
						
					</script>
					
					<form action='/posts/<%= post.id %>/reviews/<%= val.id %>?_method=DELETE' method='POST'>
						<input type='submit' value='Delete'>
					</form>
					
					<% } %>

				</div>
			
			<hr>
			<% })%>
		</ul>

 <% } %>


<div id='map'></div>

